<div class="alert alert-dismissible alert-warning">
    <h4 class="alert-heading">In-Development Warning!</h4>
    <p class="mb-0">WARNING: This website is currently in development and some content may not be ready yet! If
        there is something missing from this website, please check back later to see if the problem has been
        resolved!</p>
</div>