<nav class="navbar navbar-expand-lg navbar-dark bg-blue">
    <a class="navbar-brand" href="{{ url_for('index') }}">Dee Eye Why</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <!--Left links-->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('index') }}" style="color:#7bebfc;">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('about') }}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('buildguide') }}">Build Guide</a>
            </li>
        </ul>
        <!--Right links-->
        <ul class="navbar-nav mr-right">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('contact') }}">Contact us</a>
            </li>
        </ul>
    </div>
</nav>