{% extends 'base.html' %}

{% block body %}
<!--Intro Jumbotron-->
<div class="jumbotron">
    <h1>Welcome to Dee Eye Why</h1>
    <p class="lead">What are we? We are a group of 5 people and we are doing a project-based learning project
        to save people from dirty water...</p>
    <hr class="my-4">
    <p><a class="btn btn-primary bg-blue" href="about.html" role="button">About</a><span class="btn-spacing"></span><a
            class="btn btn-primary bg-blue" href="buildguide.html" role="button">Build Guide</a></p>
</div>
<!--"Our Ideas"-->
<h2>Our Ideas</h2>
<p>We made this simple design that anyone can afford and it can filter water from any level of dirtiness to the
    purest water</p>
<hr>
<p style="text-align:center;"><img src="http://tse4.mm.bing.net/th?id=OIP.XiKGdNcV9aVupS16aYH5zAHaEV" alt="Picture of filter"></p>
<p style="text-align:center;"><i>Please go to the <a href="about.html">About</a> page for more info about this
        Water Filter design!</i></p>
{% endblock %}