<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flatly.css') }}">
    <title>Dee Eye Why - {{ title }}</title>
</head>

<body>
    <!--Navbar-->
    {% include 'partials/_navbar.html' %}
    <!--Body-->
    <div class="container">
        <!--In-dev warn-->
        {% include 'partials/_devwarn.html' %}
        <!--Content-->
        {% block body %}{% endblock %}
        <!--Footer-->
        {% include 'partials/_footer.html' %}
    </div>
</body>

</html>